@charset "UTF-8";

body {
	background-color: black;
}

a{
	text-decoration:none;
	}
	
#font{
	color: yellow;
	font-size: 40px;
}


/* ad_main */
#bigmenu1{
	color: yellow;
	font-size: 40px;
}

#bigmenu2{
	color: yellow;
	font-size: 40px;
}

/* ad_member */
#mem_title{
	color: yellow;
	font-size: 40px;
	text-align: left;
}

#member {
    border-collapse: collapse;    
    background-color: white;
	font-size: 20px;
	color: black;
	padding: 5px;
	}

#mem_top {
    background-color: #d3d3d3;
}


/* ad_cs */
#cs_title{
	color: yellow;
	font-size: 40px;
	text-align: left;
}

#cs_table {
	border-top: 1px solid #444444;
    border-collapse: collapse;
	font-size: 20px;
	color: white;
	background-color: black;
	
  }
  
#cs_list{
	border-bottom: 1px solid #444444;
	padding: 10px;
  }

#cs_top{
	background-color: white;
	color:black;
}

#cs_a{
	color:white;
}
  

/* ad_videoDetail */
#video_name{
	color:white;
	font-size:30px;
}

#white{
	color:white;
	font-size : 20px;
}

#textbox{
	font-size : 20px;
}

#button2{
	font-size:20px;
	background-color: green;
}

/* ad_videoInsert */
#checkbox{
	color:white;
	font-size:20px;
}

#combobox{
	font-size:20px;
	height: 30px;
}

#button3{
	font-size:20px;
}

/* ad_videoSearch */
#search_title{
	color:white;
	font-size:40px;
}

#search_textbox{
	width:500px;
	height: 50px;
	font-size:30px;
}

#button4{
	color:yellow;
	font-size:30px;
	background-color: black;
}

#search_result{
	vertical-align : top;
}

#name{
	color: orange;
	font-size: 40px;
}

#type{
	font-size:20px;
}

#thumb{
	width:200px;
	height:150px;
}

#video_name{
	color:white;
	font-size:30px;
}

/* ad_videoUpdate */

/* ad_cs */
#cs_title{
	color: black;
}





