@charset "UTF-8";

#input_text {
	width: 300px;
	height: 50px;
	font-size: 15px;
	border: 1px solid red;
	border-radius: 10px;
}

#main_text {
	text-align: center;
	font-size: 50px;
	color: white;
}

hr {
	size: 3px;
	color: white;
	width: 80%;
}

body {
	background-color: black;
}












